@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Theme */
  --bg-main: #F4F4F2;
  --bg-secondary: #EBEBE8;
  --bg-card: #EBEBE8;
  --text-main: #442D1C;
  --text-muted: #84592B;
  --primary: #BAB98B;
  --secondary: #A54F6B;
  --accent: #B7A159;
  --text-on-primary: #FFFFFF;
  --petal-color-1: #A54F6B;
  --petal-color-2: #d26b8d;
  --placeholder: #666666;
}

[data-theme='dark'] {
  /* Another Theme */
  --bg-main: #0C1519;
  /* Chinese Black */
  --bg-secondary: #3A3534;
  /* Jet */
  --bg-card: #162127;
  /* Dark Jungle Green */
  --text-main: #CF9D7B;
  /* Antique Brass */
  --text-muted: #724B39;
  /* Coffee */
  --primary: #CF9D7B;
  /* Antique Brass */
  --secondary: #724B39;
  /* Coffee */
  --accent: #3A3534;
  /* Jet */
  --text-on-primary: #0C1519;
  /* High contrast text on primary */
  --petal-color-1: #CF9D7B;
  --petal-color-2: #724B39;
  --placeholder: #724B39;
}

/* Mapping to Tailwind classes */
@layer base {
  body {
    @apply bg-skin-base text-skin-base transition-colors duration-500 ease-in-out;
  }
}