@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the two themes using CSS variables */
:root {
  /* Default Theme */
  --bg-main: #F4F4F2;
  --bg-secondary: #EBEBE8;
  --bg-card: #EBEBE8;
  --text-main: #442D1C;
  --text-muted: #84592B;
  --primary: #BAB98B;
  --secondary: #A54F6B;
  --accent: #B7A159;
  --text-on-primary: #FFFFFF;
}

[data-theme='dark'] {
  /* Joyful Medium Theme - Legible Typography */
  --bg-main: #9F8383;
  --bg-secondary: #8B7272;
  --bg-card: #C8AAAA;
  --text-main: #574964;
  --text-muted: #FDF5E6;
  --primary: #574964;
  --secondary: #574964;
  --accent: #574964;
  --text-on-primary: #574964;
}

/* Mapping to Tailwind classes */
@layer base {
  body {
    @apply bg-skin-base text-skin-base transition-colors duration-500 ease-in-out;
  }
}